# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Conda / virtual env
.venv/
venv/
env/

# Model files
*.pkl
*.joblib

# Output files
outputs/*
!outputs/.gitkeep

# Processed data
data/processed/*
!data/processed/.gitkeep

# Logs
*.log
!data/raw/apache_access.log
!data/raw/nginx_access.log
!data/raw/iis.log

# OS / IDE
.vscode/
.idea/
.DS_Store
